In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(np.random.rand(2,3),columns=["a","b","c"], index=["i","ii"])
df

           a         b         c
i   0.885603  0.942204  0.547371
ii  0.951888  0.273170  0.709110

行和列操作

In [14]:
df.loc["i"]

a    0.885603
b    0.942204
c    0.547371
Name: i, dtype: float64

In [15]:
df.iloc[0]

a    0.885603
b    0.942204
c    0.547371
Name: i, dtype: float64

In [16]:
df["a"]

i     0.885603
ii    0.951888
Name: a, dtype: float64

In [17]:
df.a

i     0.885603
ii    0.951888
Name: a, dtype: float64

In [18]:
df["d"] = [1,2]
print(df)

           a         b         c  d
i   0.885603  0.942204  0.547371  1
ii  0.951888  0.273170  0.709110  2

In [19]:
df.loc["iii"] = [1,2,3,4]
print(df)

            a         b         c  d
i    0.885603  0.942204  0.547371  1
ii   0.951888  0.273170  0.709110  2
iii  1.000000  2.000000  3.000000  4

In [28]:
df[["a", "b"]]

            a         b
i    0.885603  0.942204
ii   0.951888  0.273170
iii  1.000000  2.000000

筛选

In [20]:
print(df[df["a"]<1])

           a         b         c  d
i   0.885603  0.942204  0.547371  1
ii  0.951888  0.273170  0.709110  2

In [23]:
print(df[df>1])

      a    b    c    d
i   NaN  NaN  NaN  NaN
ii  NaN  NaN  NaN  2.0
iii NaN  2.0  3.0  4.0

取列时 [ ] 和 [[ ]]的区别

In [22]:
print(df["a"])
print(type(df["a"]))
print(df[["a"]])
print(type(df[["a"]]))

i      0.885603
ii     0.951888
iii    1.000000
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
            a
i    0.885603
ii   0.951888
iii  1.000000
<class 'pandas.core.frame.DataFrame'>