In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.rand(2,3),columns=["a","b","c"], index=["i","ii"])
df

           a         b         c
i   0.075196  0.177333  0.860692
ii  0.173434  0.303934  0.157309

行和列操作

In [4]:
df.loc["i"]

a    0.075196
b    0.177333
c    0.860692
Name: i, dtype: float64

In [5]:
df.iloc[0]

a    0.075196
b    0.177333
c    0.860692
Name: i, dtype: float64

In [6]:
df["a"]

i     0.075196
ii    0.173434
Name: a, dtype: float64

In [7]:
df.a

i     0.075196
ii    0.173434
Name: a, dtype: float64

In [8]:
df["d"] = [1,2]
print(df)

           a         b         c  d
i   0.075196  0.177333  0.860692  1
ii  0.173434  0.303934  0.157309  2

In [9]:
df.loc["iii"] = [1,2,3,4]
print(df)

            a         b         c  d
i    0.075196  0.177333  0.860692  1
ii   0.173434  0.303934  0.157309  2
iii  1.000000  2.000000  3.000000  4

筛选

In [10]:
print(df[df["a"]<1])

           a         b         c  d
i   0.075196  0.177333  0.860692  1
ii  0.173434  0.303934  0.157309  2

取列时 [ ] 和 [[ ]]的区别

In [11]:
print(df["a"])
print(type(df["a"]))
print(df[["a"]])
print(type(df[["a"]]))

i      0.075196
ii     0.173434
iii    1.000000
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
            a
i    0.075196
ii   0.173434
iii  1.000000
<class 'pandas.core.frame.DataFrame'>