In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.DataFrame(np.random.rand(2,3),columns=["a","b","c"], index=["i","ii"])
df

           a         b         c
i   0.033729  0.443761  0.047491
ii  0.877394  0.238817  0.119422

In [29]:
df.loc["i"]

a    0.033729
b    0.443761
c    0.047491
Name: i, dtype: float64

In [30]:
df.iloc[0]

a    0.033729
b    0.443761
c    0.047491
Name: i, dtype: float64

In [31]:
df["a"]

i     0.033729
ii    0.877394
Name: a, dtype: float64

In [32]:
df.a

i     0.033729
ii    0.877394
Name: a, dtype: float64