In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(2,3),columns=["a","b","c"], index=["i","ii"])
df

           a         b         c
i   0.416776  0.365396  0.162834
ii  0.262431  0.119720  0.586610

In [3]:
df.loc["i"]

a    0.416776
b    0.365396
c    0.162834
Name: i, dtype: float64

In [4]:
df.iloc[0]

a    0.416776
b    0.365396
c    0.162834
Name: i, dtype: float64

In [5]:
df["a"]

i     0.416776
ii    0.262431
Name: a, dtype: float64

In [6]:
df.a

i     0.416776
ii    0.262431
Name: a, dtype: float64

In [7]:
df["d"] = [1,2]
print(df)

           a         b         c  d
i   0.416776  0.365396  0.162834  1
ii  0.262431  0.119720  0.586610  2

In [10]:
df.loc["iii"] = [1,2,3,4]
print(df)

            a         b         c  d
i    0.416776  0.365396  0.162834  1
ii   0.262431  0.119720  0.586610  2
iii  1.000000  2.000000  3.000000  4