In [2]:
import pandas as pd
import numpy as np

df(Dataframe)的apply中的函数的操作对象是df的列或行。而s(Series)的apply中的函数的操作对象是s的每个元素。

In [3]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

df = pd.DataFrame(matrix, columns=list('xyz'), index=list('abc'))
df.apply(np.square)

    x   y   z
a   1   4   9
b  16  25  36
c  49  64  81

In [4]:
df.apply(lambda x : np.square(x) if x.name in ['x', 'y'] else x)

    x   y  z
a   1   4  3
b  16  25  6
c  49  64  9

In [5]:
df.apply(lambda x : np.square(x) if x.name == 'a' else x, axis=1)

   x  y  z
a  1  4  9
b  4  5  6
c  7  8  9